#################################################################
#								#
# Copyright (c) 2020-2022 YottaDB LLC and/or its subsidiaries.	#
# All rights reserved.						#
#								#
#	This source code contains the intellectual property	#
#	of its copyright holder(s), and is made available	#
#	under a license.  If you do not know the terms of	#
#	the license, please stop and do not read further.	#
#								#
#################################################################
/build/
/fuzzing/build-instrumented/
/fuzzing/inputs/
/fuzzing/output/
/fuzzing/env/
/fuzzing/NotMinCorpus/
